.submit-btn-container {
    width: 628px;
    height: auto;   
    display: flex;
    justify-content: space-between;
}

.line {
    height: 1px;
    width: 87%;
    /* align-self: stretch; */
    background: var(--Line, #DCDCDC);
    margin: 45px 0 0 0;
    z-index: 1;
}

.submit-btn {
    width: 85px;
    height: 85px;
    border-radius: 50px;
    border: 0px;
    background: var(--Purple, #854DFF);
    z-index: 2;
    cursor: pointer;
}

.submit-btn > svg {
    font-size: 56px;
    color: #fff;
}

.submit-btn:hover {
    background: #000;
}